[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
numpy = "*"
pyparsing = "*"
biopython = "*"
scipy = "*"
matplotlib = "*"
prody = "*"
progress = "*"
flake8 = "*"
pynmrstar = "*"
psycopg2 = "*"
multiprocess = "*"

[dev-packages]
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.7"
